#comment {
    display: block;
    width: 99%;
    height: 5.5rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 3;
    color: rgb(0, 0, 0);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #D8D8D8;
    appearance: none;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  