.label-name {
  text-transform: capitalize;
}

.form-input {
  display: block;
  width: 50%;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.3);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #D8D8D8;
  appearance: none;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.active {
  display: block;
  color: rgb(0, 0, 0);
}


.invalid {
  border-color: red;
  display: block;
  color: #212529;
  border: 1px solid red;
}

  
  
